﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PageMenuLink.ascx.cs" Inherits="TestProject.usercontrols.PageMenuLink" %>

<asp:SqlDataSource runat="server" ID="page_menu_list" ConnectionString="<%$ ConnectionStrings:page_sql_con %>"></asp:SqlDataSource>

<div id="page_query" runat="server" class="querybox"></div>

<%--<asp:Menu ID="page_menu_link" runat="server" Orientation="Horizontal"></asp:Menu>--%>
<li id="page_menu_link" runat="server"></li>