﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PagePick.ascx.cs" Inherits="TestProject.usercontrols.PagePick" %>


<%--<h2>Manage Pages</h2>

<a href="../AddNewPage.aspx">Add New Page</a>

<asp:SqlDataSource runat="server" ID="page_pick_list" ConnectionString="<%$ ConnectionStrings:page_sql_con %>">

</asp:SqlDataSource>

<div id="page_query" runat="server" class="querybox">

</div>
<asp:DataGrid ID="page_list" runat="server">

</asp:DataGrid>--%>

